.main-title {
  font-size: 50px;
  border: 1px solid black;
  text-align: center;
  width: 300px;
  padding: 5px 25px;
  margin: 40px auto;
}
.project-container {
  width: 90%;
  background-color: #f5f5dc;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px;
  padding: 50px;
  gap: 50px;
}
.projects-card {
  width: 500px;
  height: 700px;
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 12px 30px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.project-title {
  font-size: 25px;
  margin: 0 auto;
}
.project-img {
  width: 100%;
  height: 288px;
  border-radius: 10px;
}
.project-description {
  text-align: justify;
  font-size: 14px;
}
.project-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-links a {
  text-decoration: none;
  color: black;
}
.project-link-img {
  width: 20px;
  height: 20px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .main-title {
    font-size: 20px;
    text-align: center;
    width: 140px;
    padding: 3px 15px;
    margin: 20px auto;
  }
  .project-container {
    padding: 30px 14px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .projects-card {
    width: 90%;
    height: 520px;
    padding: 10px 16px;
    border-radius: 15px;
    gap: 16px;
  }
  .project-title {
    font-size: 14px;
    margin: 0 auto;
  }
  .project-img {
    border-radius: 5px;
    max-height: 170px;
  }
  .project-description {
    font-size: 10px;
  }
  .project-links {
    gap: 8px;
  }
  .project-links a {
    font-size: 10px;
  }
}

@media (min-width: 400px) and (max-width: 550px) {
  .main-title {
    font-size: 20px;
    text-align: center;
    width: 140px;
    padding: 3px 15px;
    margin: 20px auto;
  }
  .project-container {
    padding: 30px 14px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .projects-card {
    width: 90%;
    height: 570px;
    padding: 10px 16px;
    border-radius: 15px;
    gap: 16px;
  }
  .project-title {
    font-size: 17px;
    margin: 0 auto;
  }
  .project-img {
    border-radius: 8px;
    max-height: 200px;
  }
  .project-description {
    font-size: 12px;
  }
  .project-links {
    gap: 8px;
  }
  .project-links a {
    font-size: 12px;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .main-title {
    font-size: 25px;
    text-align: center;
    width: 180px;
    padding: 3px 15px;
    margin: 20px auto;
  }
  .project-container {
    padding: 30px 18px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .projects-card {
    width: 90%;
    height: 650px;
    padding: 12px 16px;
    border-radius: 15px;
    gap: 16px;
  }
  .project-title {
    font-size: 20px;
    margin: 0 auto;
  }
  .project-description {
    font-size: 14px;
  }
  .project-links {
    gap: 12px;
  }
  .project-links a {
    font-size: 14px;
  }
}

@media (min-width: 750px) and (max-width: 1050px) {
  .main-title {
    font-size: 25px;
    text-align: center;
    width: 180px;
    padding: 3px 15px;
    margin: 20px auto;
  }
  .project-container {
    padding: 30px 18px;
    gap: 16px;
    display: flex;
    flex-direction: row;
  }
  .projects-card {
    width: 90%;
    height: 670px;
    padding: 18px 16px;
    border-radius: 15px;
    gap: 16px;
  }
  .project-title {
    font-size: 20px;
    margin: 0 auto;
    height: 45px;
  }
  .project-img {
    max-height: 180px;
  }
  .project-description {
    font-size: 14px;
  }
  .project-links {
    gap: 12px;
  }
  .project-links a {
    font-size: 14px;
  }
}
